notes

/target
cargo.lock
cargo.toml
src
Statics_Lab_Report.docx
~$atics_Lab_Report.docx 
~WRL1558.tmp
~$data.xlsx
#The ~$ symboled articles mean that they are the current, active version. These have been excluded as not to cause corruption. -yazeed